
{% extends 'index_main.html' %}
{% load static %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Vinita Raj</h1>
      <p>I'm <span class="typed" data-typed-items="Entrepreneur, Freelancer, Photographer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Managing Director, Word Dealers Pvt. Ltd.,
an Entrepreneur, An Academician, A Trainer,
A Writer, An Orator, and an Advocate who
started her professional life with IIM Indore,
and later served Narsee Monjee Mumbai,
stand as a model of Women Empowerment,
when she claims to have started world's first
All-Female Localization Company, providing
genuine work from home opportunities to
more than 133 plus females worldwide.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static  'assets/img/profile-img.jpg'%}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>MD, Worddealers Pvt. Ltd.</h3>
            <p class="fst-italic">
              Founded world's first all-female localization company, serving in the fields of translation, lingual escorting and simultaneous interpretation.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Empowered </strong> <span>177+ Women</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Covered </strong> <span>56+ Cities</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Across </strong> <span>5 Nations</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Delivering</strong> <span>over 56M+ words</span></li>
                </ul>
              </div>
              <div class="col-lg-6">

              </div>
            </div>
            <p>
              Proving over 15+ services in the fields of content, covering Translation, Interpretation, Proof-reading, Apostille & Notary. Be it Law, Engineering, Medicine, Science, Management, Commerce, Science, Medical and Paramedical
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio ">
      <div class="container">

        <div class="section-title">
          <h2>Achievements</h2>
          <p>Here are some of my achievements</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
        {% for achievement in achievements %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static{{ achievement.image_url }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="static{{ achievement.image_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
            {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->


  <section id="portfolio" class="portfolio ">
      <div class="container">

        <div class="section-title">
          <h2>Media Presence</h2>
          <p>Interviewed on many different youtube platforms</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
     {% for video in videos %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="">
                {% if video.youtubelink %}
                <iframe width="1800" height="1800" src="https://www.youtube.com/embed/{{ video.youtubelink }}" title="{{ video.name }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid"></iframe>
                {% else %}
                <iframe width="1800" height="1800" src="{{ video.file.url }}" title="{{ video.name }}" frameborder="0" allow="accelerometer;muted; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid"></iframe>
                {% endif %}
            </div>
          </div>
            {% endfor %}

        </div>

      </div>
    </section>
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  [Vinita has] a racy, breezy style of writing with very sharp observation of human behaviour.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
{#                <img src="  assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">#}
                <h3>Madhvi Agrawal</h3>
                <h4>Poet, Editor, Curator</h4>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    [The Orkut Love is] a breezy coming-of-age story, Beautifully written.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
{#                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">#}
                <h3>Srisha Jain</h3>
                <h4>Filmmaker, Writer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        A smooth, peppy, feel-good story, Vinita has a very visual way of writing that makes the book [The Orkut Love] an easy read, Don't miss it
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
{#                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">#}
                <h3>Namrata Tapaswi</h3>
                <h4>Screenwrite, Lyricist</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Somehow, in a few sentences, Vinita is able to portrait the fragile human condition
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
{#                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">#}
                <h3>Aman Darbar</h3>
                <h4>Entrepreneur, Novelist</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Let's have a talk</h2>
          <p>Enter your contact details and I will get back to you soon!</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>WordDealers- 1020, scheme no 114, vijay nagar, Indore</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>worddealers@yahoo.com</p>
              </div>


            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock content %}